@tailwind base;
@tailwind components;
@tailwind utilities;

.Title {
    display: inline-block;
    font-size: 50px;
    @apply bg-rh-ocean-blue;
    color: white;
    margin-top: 10px;
    padding: 10px;
}

.submitter {
    display: inline-block;
    @apply font-mono bg-white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.YTvid {
    display: flex;
    width: 500px;
    height: 250px;
}