@tailwind base;
@tailwind components;
@tailwind utilities;

.Title {
    display: inline-block;
    font-size: 50px;
    @apply bg-rh-deep-purple;
    @apply text-rh-ocean-blue;
    @apply font-bold;
    @apply border-double;
    @apply border-rh-ocean-blue;
    @apply border-2;
    @apply rounded-lg;
    margin: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.submitter {
    display: inline-block;
    @apply font-mono;
    @apply text-rh-black;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:
}

.textArea {
    width: 750px;
    margin: 0 auto;
    text-align: center;
}
